/* Base */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.bg-grey {
  background: #f7f7f7;
}

a[href] {
  text-decoration: none;
  color: inherit;
}

section > .container {
  width: 1170px;
  margin: auto;
  display: block;
}
section > .container.fullwidth {
  width: 100%;
  margin: auto;
  display: block;
}
.section-title {
  font-weight: 600;
  padding-bottom: 40px;
  font-size: 32px;
  line-height: 1.2;
}
section i {
  color: #199cdb;
}
/* Banner */
#banner {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#banner img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
#banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#banner .content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  color: #f7f7f7;
  z-index: 1;
}

/* Navbar */
#nav-bar {
  text-align: center;
}

#nav-bar ul {
  position: relative;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}
#nav-bar ul li {
  padding: 10px 12px;
  border-left: 1px solid #d9d9d9;
  height: 100%;
  justify-content: center;
  align-self: center;
  position: relative;
}
#nav-bar ul li a.nav-item {
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  align-self: center;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav-bar ul li .content {
  font-size: 20px;
}
#nav-bar ul li .content span {
  font-size: 14px;
  color: #c9c9c9;
}
#nav-bar ul li:last-of-type {
  border-right: 1px solid #d9d9d9;
}
/* logo-avatar */
#nav-bar .logo img {
  position: absolute;
  overflow: hidden;
  top: -100%;
  left: 50%;
  z-index: 9;
  border-radius: 999px;
  background-size: 100%;
  border: 8px solid #fff;
  transform: translate(-50%);
}

/* About */
#about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 1.5;
}

#target,
#personal-info {
  padding: 60px 40px 30px;
}

#target {
  background-color: #f5f5f5;
}
#personal-info {
  background-color: #f0f0f0;
}

#personal-info ul li span {
  font-weight: 600;
}
#personal-info .contact {
  padding-top: 20px;
  font-size: 20px;
}
/* Job-info */

#job-info .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  margin: 30px auto;
}
#job-info .container .info-item {
  flex-basis: calc(100% / 3 - 30px);
  max-width: calc(100% / 3 - 30px);
  padding: 30px 20px 40px;
  border: 1px solid #f5f5f5;
}
.info-item .wrapper {
  margin: 20px 25px;
}
.info-item .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.info-item .header i {
  display: inline-block;
  color: #999;
  font-size: 42px;
}

.info-item .content-list li {
  list-style: none;
  margin-bottom: 30px;
  line-height: 1.5;
}

.info-item .content-list .title {
  position: relative;
  font-weight: 600;
}
.info-item .content-list .title::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 999px;
  background-color: #199cdb;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}
.info-item .content-list .time-line {
  font-style: italic;
  margin-bottom: 10px;
}
.info-item .content-list .time-line .present {
  background-color: #199cdb;
  padding: 4px 16px;
  border-radius: 4px;
  color: #f0f0f0;
}

.info-item .content-list .description {
  font-size: 18px;
}
.info-item .content-list .time-line,
.info-item .content-list .description {
  color: #999999;
  font-size: 14px;
  line-height: 2;
}
/* Sở thích */
.hobby-list {
  display: flex;
}
.hobby-list {
  display: flex;
  justify-content: space-around;
}
.hobby-list .hobby-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hobby-list .hobby-item .icon {
  display: flex;
  color: #199cdb;
  border-radius: 999px;
  border: 1px solid #199cdb;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.hobby-list .hobby-item .text {
  font-size: 14px;
  color: #999999;
}

.language-item {
  list-style: none;
}
.name {
  padding: 16px 0;
  list-style: none;
}
.levels {
  display: flex;
}

.levels .level {
  display: inline-block;
  width: 70px;
  height: 4px;
  background-color: #dedede;
  margin-right: 8px;
}

.levels .level.active {
  background-color: #199cdb;
}

/* Chứng chỉ - Giải thưởng */

.row {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  column-gap: 20px;
  flex-direction: row;
}
#certificate .row {
  border-bottom: 1px solid #d6c08d;
}
#certificate .row:last-of-type {
  border-bottom: unset;
  padding-bottom: 0;
}

.col {
  display: flex;
  flex-basis: 50%;
  max-width: 50%;
}
.col:nth-child(2n) {
  padding-left: 20px;
  border-left: 2px solid #d6c08d;
}
.col .thumbnail {
  flex-basis: 40%;
}
.col .content {
  flex-basis: 60%;
  padding-left: 30px;
}
.col .content h4 {
  text-transform: uppercase;
}
.col .content div {
  line-height: 1.5;
  color: #999999;
  padding: 10px 0;
}
img {
  width: 220px;
  height: auto;
  object-fit: cover;
}

/* Dự Án */
#project,
#certificate {
  padding: 30px 0;
}
.project-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3 - 20px);
}
.detail {
  margin-top: -4px;
  color: #999999;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.project-detail {
  border: 1px solid #f5f5f5;
  border-top: unset;
  border-collapse: collapse;
  display: flex;
}
.project-detail:first-of-type {
  border-top: 1px solid #f5f5f5;
}

.project-detail.title {
  font-weight: 600;
  padding: 12px 20px;
  text-transform: uppercase;
}
.project-detail.header {
  padding: 12px 20px;
  text-transform: uppercase;
  align-items: center;
  column-gap: 20px;
}
.project-detail.header .time {
  background-color: #199cdb;
  padding: 4px 14px;
  color: #fff;
  border-radius: 999px;
}
.project-detail.tech.cell {
  flex: 1;
}

.project-detail.cell {
  padding: 8px;
}

.label {
  padding: 4px 0;
  padding-right: 20px;
  width: 30%;
}
.value {
  flex: 1;
}

/* Footer */

#footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  column-gap: 20px;
  font-size: 24px;
}
#footer ul i {
  padding-right: 8px;
}
