* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
  font-size: 10pt;
}

.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  width: 900px;
  min-height: 900px;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;

  padding: 40px;
}

/* Base */
.section {
  margin-top: 40px;
  padding: 0 40px;
}

.item {
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 8px 0;
}
.label {
  font-weight: 700;
}
.item .label {
  padding: 4px 0;
  padding-right: 20px;
  width: 20%;
}
.item .value {
  flex: 1;
}
.item .time-line {
  width: 30%;
}
.description {
  line-height: 1.4;
}
.item .description {
  flex: 1;
}
.item .description .title {
  font-weight: 700;
}

h2.section-title {
  text-transform: capitalize;
  font-weight: 700;
  padding-bottom: 4px;
  border-bottom: 1px solid #000;
}

/* infomation  */
#info .section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}
.customer-info {
  flex: 1;
}

.avatar {
  aspect-ratio: 1/1;
  width: 113px;
  height: auto;
}

h1.name {
  color: #0e2452;
  font-style: 24px;
}
#info .item {
  padding: 4px 0;
  border: unset;
}

/* Target */

#target .section-content {
  padding-top: 20px;
}
.section-content ul.list-timeline {
  position: relative;
  list-style: none;
}
.section-content ul.list-timeline::after {
  top: 8%;
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  left: 6px;
  background-color: #d9d9d9;
  z-index: 0;
}

.section-content ul.list-timeline li {
  position: relative;
  margin-left: 20px;
}
.section-content ul.list-timeline li::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  left: -17px;
  background-color: #000000;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 999px;
}

/* Skill */

#skill .item,
#certificate .item {
  padding: 8px 0;
  border-bottom: 1px solid #d9d9d9;
}
#skill .item .label,
#certificate .item .label {
  width: calc(30% + 20px);
}

/* certificate */

#certificate .item .label {
  font-weight: 500;
}

/* hobby */

#hobby ul,
#project ul {
  margin-left: 20px;
  padding: 4px 0;
}
#hobby li,
#contact li {
  padding: 2px 0;
}

/* project */
#project .time {
  padding: 4px 0;
}
#project .title {
  padding-top: 16px;
}

#project .project-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2px 0;
}
#project .project-detail .label {
  padding-right: 4px;
}
#project .project-detail .value {
  flex: 1;
}

/* contact */
#contact .section-title {
  border-bottom: unset;
}
#contact .section-content {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
#contact ul {
  padding: 8px 0;
  margin-left: 20px;
  list-style: decimal;
}
